<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="net.jazz.ajax.webBundles">
      <prerequisites>
         <requiredWebBundle id="net.jazz.ajax" />
         <requiredWebBundle id="com.ibm.team.repository.web" />
         <requiredWebBundle id="com.ibm.team.process.web" />
         <requiredWebBundle id="com.ibm.asq.common.web" />
         <requiredWebBundle id="com.ibm.rqm.planning.web" />
         <requiredWebBundle id="com.ibm.rqm.execution.web" />
      </prerequisites>
   </extension>
   <extension point="com.ibm.rqm.planning.common.executionScriptType">
      <type adapterName="Perfecto Mobile Adapter" description="Perfecto Mobile Automation Adapter" id="com.perfectomobile.integration.rqm" name="Perfecto Adapter">
         <capability name="EXECUTE">
         </capability>
         <capability name="IMPORT">
         </capability>
      </type>
   </extension>
   
   <extension point="com.ibm.rqm.planning.common.artifactEditorSection">
      <section id="com.perfectomobile.section.testScript.editor" jsClass="com.perfectomobile.integration.rqm.ui.plugin.ui.internal.view.extension.PerfectoScriptEditorSection" name="Perfecto Mobile">
         <customAttribute id="com.ibm.rqm.planning.common.executionScriptType" value="com.perfectomobile.integration.rqm" />
      </section>
      <section id="com.perfectomobile.section.testScript.executionSection" jsClass="com.perfectomobile.integration.rqm.ui.plugin.ui.internal.view.extension.PerfectoExecutionSection" name="Perfecto Mobile">
         <customAttribute id="com.ibm.rqm.planning.common.executionScriptType" value="com.perfectomobile.integration.rqm">
         </customAttribute>
      </section>
      <section id="com.perfectomobile.section.testScript.executionLog" jsClass="com.perfectomobile.integration.rqm.ui.plugin.ui.internal.view.extension.PerfectoExecutionLogSection">
         <customAttribute id="com.ibm.rqm.planning.common.executionScriptType" value="com.perfectomobile.integration.rqm">
         </customAttribute>
      </section>
   </extension>
   
   <extension point="com.ibm.rqm.planning.common.sectionEditorBinding">
      <section id="com.perfectomobile.section.testScript.editor">
         <editor id="com.ibm.rqm.planning.editor.testScript" order="20" />
      </section>
      <section id="com.perfectomobile.section.testScript.executionSection">
         <editor id="com.ibm.rqm.execution.editor.executionview" order="10">
         </editor>
      </section>
      <section id="com.perfectomobile.section.testScript.executionLog">
         <editor id="com.ibm.rqm.execution.editor.executionLog" order="10">
         </editor>
      </section>
   </extension>
   <extension point="net.jazz.ajax.cssBindingSets">
      <cssBindingSet id="com.perfectomobile.integration.rqm.ui.plugin.ui.internal.view.CSSBindingSet" path="/ui/internal/view">
         <cssBinding jsModule="com.perfectomobile.integration.rqm.ui.plugin.ui.internal.view.execution.PerfectoExecutionLog">
            <cssModule path="/templates/execution/PerfectoExecutionLog.css" />
         </cssBinding>
      </cssBindingSet>
   </extension>
</plugin>